rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{order} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 25);
    }
  }
  match /databases/{database}/documents {
    match /items/{item} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 25);
    }
  }
  match /databases/{database}/documents {
    match /categories/{category} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 25);
    }
  }
}